{% extends 'base.html' %}
{% block content %}
    <h3>Wählen sie ihr Taxi</h3>
    <div id="map"></div>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">Von</div>
                <div class="col">Nach</div>
                <div class="w-100"></div>
                <div class="col">
                    <input name="von" class="form-control col-sm-6" id="search" type="text" placeholder="Suche..." required>
                </div>
                <div class="col">
                    <input name="nach" class="form-control col-sm-6" id="search1" type="text" placeholder="Suche..." required>
                </div>
                <button type="submit">Buchen</button>
            </div>
        </div>
    </form>
{% endblock %}


