{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/main.css" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Homepage</title>
</head>
<header>
    <nav class="py-2 navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <img src="{% static 'images/UberO_Logo.PNG' %}" class="Responsive image" style="height: 40px; border-radius: 50%; margin-right: 20px">
        <a class="navbar-brand mr-4" href="{% url 'index' %}">UberO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">

            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'reservation' %}">Reservierung</a>
                {% endif %}
            </div>
             <div class="navbar-nav">
                {% if user.is_authenticated and user.is_superuser %}
                    <a class="nav-item nav-link" href="/admin">Control Panel</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}'s Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% elif user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}'s Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
                </div>
        </div>
    </nav>
</header>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container" style="margin-bottom: 60px; margin-top: 60px;">
    {% block content %}{% endblock %}
    <footer id="sticky-footer" class="py-2 bg-dark text-white-50 fixed-bottom">
        <div class="row">
            <div style="left: 20px; margin-left: 30px">
                <small>Copyright &copy; UberO</small>
            </div>
            <div style="right: 20px; position: absolute">
                <small> by Florian Kürschner & Sladjan Vasic</small>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'js/googlemapsapi.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuSnoh7D4thkLjWdv9V7jTE0YJfktwXV4&callback=createMap&libraries=places"
        async defer></script>
</body>
</html>